<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="FirstIsle" value="2" />
        <add key="LastIsle" value="34" />
        <add key="FulfillmentCenterName" value="RVS1" />
        <add key="WMS" value="SNAP" />
        <add key="OddIsles" value="34" /> <!-- Semicolon separated list of Isles with only odd bays ie: single bay = "1", multiple bays = "1;12;34"  -->
        <add key="EvenIsles" value="" /> <!-- Semicolon separated list of Isles with only even bays ie: single bay = "3", multiple bays = "3;7;22;30" -->
		<add key="InputFilePath" value="/Users/jgeller/Documents/Data/CsvMapSource/GCD Live SKUs with Rank 02202018.csv" />
		<add key="OutputFolderPath" value="/Users/jgeller/Documents/Data/CsvMapOutput" />
	</appSettings>
</configuration>

